﻿<div class="client-layout">
  <header class="clearfix">
    <button type="button" class="navbar-toggle offcanvas-toggle" data-toggle="offcanvas"
            data-target="#js-bootstrap-offcanvas">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <nav class="navbar navbar-default navbar-fixed-top navbar-offcanvas navbar-offcanvas-touch" role="navigation"
         id="js-bootstrap-offcanvas">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">HANGRI</a>
        </div>
        <div>
          <ul class="nav navbar-nav">
            <li><a ui-sref="user.restaurants">Restauracje</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="admin.products" ui-sref-opts="{reload: true}"><b>ADMIN</b></a></li>
            <login-buttons></login-buttons>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container user-wrapper">
    <div class="row">
      <div class="fade" ui-view></div>
    </div>
  </div>
</div>
