<ul class="sidebar-menu">
  <li class="header">NAWIGACJA</li>
  <!--<li class="treeview">-->
  <!--<a ui-sref="admin.dashboard">-->
  <!--<i class="fa fa-dashboard"></i> <span>Główna</span>-->
  <!--</a>-->
  <!--</li>-->
  <!--<li class="treeview">-->
  <!--<a ui-sref="admin.owners">-->
  <!--<i class="fa fa-user"></i>-->
  <!--<span>Wlasciciele</span>-->
  <!--</a>-->
  <!--</li>-->
  <!--<li class="treeview">-->
  <!--<a ui-sref="admin.workers">-->
  <!--<i class="fa fa-users"></i>-->
  <!--<span>Pracownicy </span>-->
  <!--</a>-->
  <!--</li>-->
  <li class="treeview">
    <a ui-sref="admin.products">
      <i class="fa fa-table"></i>
      <span>Produkty</span>
    </a>
  </li>
  <li class="treeview">
    <a ui-sref="admin.categories">
      <i class="fa fa-files-o"></i>
      <span>Kategorie</span>
    </a>
  </li>
  <li class="treeview">
    <a ui-sref="admin.points">
      <i class="fa fa-map-marker"></i>
      <span>Punkty</span>
    </a>
  </li>
  <li class="treeview">
    <a ui-sref="admin.orders">
      <i class="fa fa-shopping-cart"></i>
      <span>Zamówienia   <span class="new-counter" ng-show="vm.newOrdersAmount>0" >{{vm.newOrdersAmount}}</span></span>
    </a>
  </li>
  <li class="treeview">
    <a ui-sref="admin.ordersDone">
      <i class="fa fa-check"></i>
      <span>Zamówienia gotowe</span>
    </a>
  </li>
</ul>