<section class="content-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <h3>Zamówienia, które zostały już zrobione</h3>
            </div>
            <div class="col-xs-3">
                <a href="" class="btn btn-lg btn-danger" ng-click=vm.deleteAll()>Usuń zamówienia</a>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <h3 ng-if="!vm.orders.length">Brak gotowych zamówień</h3>
                    <article ng-repeat="order in vm.orders" ng-if="vm.orders.length">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="col-xs-4">
                                    <span class="panel-title">ID zamówienia: <strong>{{order.readableId}}</strong></span>
                                </div>

                                <div class="text-right">
                                    <h5 class="panel-title">Data złożenia zamówienia: <strong>{{order.date.day}}/{{order.date.month}}   {{order.date.hour}}:{{order.date.minute}}</strong></h5>
                                </div>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Nazwa</th>
                                    <th>Rozmiar</th>
                                    <th>Ilość</th>
                                    <th>Cena jednostkowa</th>
                                    <th class="text-right">Cena całkowita</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="product in order.products">
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.size }}</td>
                                    <td>{{ product.qty }}</td>
                                    <td>{{ product.prices[product.selectedPriceIndex] | currency }}</td>
                                    <td class="text-right">{{ product.qty * product.prices[product.selectedPriceIndex] | currency }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Dane kupującego</div>
                                            <div class="panel-body">
                                                <div>{{order.userData.name}}</div>
                                                <div>{{order.userData.city}}, {{order.userData.street}} {{order.userData.houseNumber}}
                                                    <span ng-if="order.userData.flatNumber">/{{order.userData.flatNumber}}</span>
                                                </div>
                                                <div>{{order.userData.phoneNumber}}</div>
                                                <div>{{order.userData.email}}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                            <h3 class="text-right">Wartość zamówienia: <strong>{{order.total | currency}}</strong></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>