.message-admin {
  position: relative;
  z-index: 1000;
  margin-bottom: 0;
  border-radius: 0 !important;
  padding: 0 15px;
  line-height: 52px;
  max-height: 0;
  transition: max-height .3s;
  border: 0;

  &, & a.close {
   font-size: 0;
  }

  a.close {
    text-decoration: none;
    line-height: 52px;
  }

  &.visible {
    max-height: 60px;

    &, & a.close {
      font-size: 16px;
    }
  }
}