.offer {
  &-table {
    & > tbody {
      & > tr {
        transition: .3s;
        &:hover {
          background: transparentize(#5f6ae7, 0.9);
        }
      }
    }
  }

  &-button {
    border: 1px solid #5f6ae7;
    transition: .3s;

    &:hover, &:active, &:focus {
      border: 1px solid #5f6ae7;
      background: #e4e6fb;
    }
  }
}